*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.Container{

    width: 100%;
    height: 100vh;
    display: flex;

}

.section1{

    width: 10%;
    border-left: 2px solid black;
    padding-top: 50px;
    position: fixed; /* Change position to fixed */
    top: 0; /* Specify where it should stick */
    left: 0; /* Specify where it should stick */
    padding-left: 20px;
}






.section1 img{

    width: 25px;
    display:table-row;
    margin-top: 5px;
    font-weight: 800;
}


.imaage{

    width: 130px;
}

.imaage:hover{

    background-color: rgba(195, 195, 195, 0.959);
    transform:scale(1.1);


}



.section1 h2{
    position: relative;
    bottom: 10px;
    font-size: 2rem;

}
.section1 p{

    display: inline;
    position: relative;
    left: 40px;
    bottom: 20px;
    font-weight: 800;
}

.section2{

    width: 75%;
    padding-top: 50px;
    padding-left: 250px;

}

.image-container img{

    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: relative;
    left: 10px;
   
    border: 3px solid rgb(255, 73, 103);
}

.image-container span{

    position: relative;
    right: 50px;
    top: 15px;
}

.section3{

    /* width: 30%; */
    height: 100vh;

}


.post1{

    padding-top: 50px;
    padding-left: 45px;
}
.post1 img{

    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid rgb(255, 115, 138);

}

.sidespan{

    position: relative;
    left: 12px;
    bottom: 30px;
    font-size: 18px;
    font-weight: 800;

}

.span2{

    position: relative;
    bottom: 30px;
    left: 10px;
    color: gray;
    font-size: 17px;
    font-weight: 800;
}

.dpara{

    position: relative;
    left: 65px;
    bottom: 30px;
    font-weight: 800;
}

.picture img{

  
}

.below-icons img{

    width: 18px!important;
    border-radius: 0%;
    border: 0cap;
    height: auto;
   margin-left: 5px;

}

.bookmark{

    margin-left: 285px!important;;

}

.below-icons{

    padding-top: 5px;
}

.likes{

    font-size: 14px;
    padding-left: 5px;
    font-weight: 800;
    padding-top: 4px;
}


.section-img{

    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: relative;
    /* right: 300px; */
}

.faispan{
font-size: 18px;
position: relative;
bottom: 30px;
left: 3px;
font-weight: 800;

}

.faizpara{

  
    padding-left: 65px;
    position: relative;
    bottom: 28px;
    left: 3px;

}

.content-container{

    padding-top: 50px;
    padding-right: 70px;
}

.content-container a{

    text-decoration: none;
    padding-left: 260px;
    position: relative;
    bottom: 55px;
    font-weight: 800;
    color: rgb(0, 174, 255);
}

.content-container a:hover{

    color: rgba(0, 0, 0, 0.965);


}

.see{

    position: relative;
    left: 115px;
    font-weight: 800;
    color: black;

}

.suggst{

    font-size: 19px;
    font-weight: 800;
    color: gray;
    padding-bottom: 50px;
}

.suggestions{
    position: relative;
    left: 17px;

}